COMPILER_DIR = 
COMPILER_PREFIX = 

CC=$(COMPILER_DIR)$(COMPILER_PREFIX)gcc
AR=$(COMPILER_DIR)$(COMPILER_PREFIX)ar
AS=$(COMPILER_DIR)$(COMPILER_PREFIX)as
LD=$(COMPILER_DIR)$(COMPILER_PREFIX)ld


# only needed if you have a xorriso installed non system-wide (don't forget the / at the end)
XORRISO_DIR = /usr/bin/

ASFLAGS32 = --32 -march=i386
ASFLAGS64 = --64 -march=i386 -mno-red-zone

NASM = nasm
NASMFLAGS64 = -f elf64

CFLAGS32 = -m32
CFLAGS64 = -m64 -mno-red-zone

LDFLAGS32 = -melf_i386
LDFLAGS64 = -melf_x86_64

DEFS32 = -DX86

ASFLAGS = $(ASFLAGS64)
NASMFLAGS_ARCH =$(NASMFLAGS64)
CFLAGS_ARCH  = $(CFLAGS64)
LDFLAGS_ARCH = $(LDFLAGS64)
DEFS_ARCH    = $(DEFS64)

GDB = gdb

FIND=find
MKRESCUE = grub-mkrescue
SETSID = setsid